/* HEADER */
header {
	position: relative;
	z-index: 999;
	cursor: default;
	background: #fff;
	margin-bottom: 20px;
}

#app-logo {
	background: #fff;
	padding: 10px 20px;
	text-align: center;
	/* border-bottom: 1px solid rgba(0,0,0,0.1); */
}

#app-title {
	background: #0098ff;
	border: none;
	padding: 10px 20px;
	text-align: left;
}

#app-title h1 {
	font-size: 1.5rem;
}

#app-title h2 {
	font-size:1.1rem;
	color: rgba(255,255,255,0.6);
}