/* MESSAGES */
#app-messages {
  transition: all 0.3s ease;
  width: 100%;
  height: auto;
  top: -200px;
  position: absolute;
  opacity: 0;
  z-index: 998;
}

#app-messages.is--active {
  opacity: 1;
}

/* Callout */
#app-messages .callout {
	display: block;
	overflow: hidden;
	height: auto;
	margin: 0;
	border-style: solid;
	border-width: 0 0 0 3px;
	font-weight: 600;
	text-align: center;
}

.callout.primary {
	border-color: #0098ff;
	color: #0D47A1;	
}
.callout.alert {
	border-color: #f44336;
	color: #B71C1C;
}
.callout.success {
	border-color: #4caf50;
	color: #004D40;
}
.callout.secondary {
	border-color: rgba(0,0,0,0.05);
}

/* Loading */
#app-loading {
	position: fixed;
	width: 100%;
	max-height: 100vh;
	height: 100vh;
	left: 0;
	top:0;
	z-index: 9999;
	background: rgba(255,255,255,0.9);
	display: none;
	opacity: 0;
	transition: opacity 0.3s ease;
	text-align: center;
}

#app-loading.is--active {
	display: block;
	opacity: 1;
}

.sp {
	width: 48px;
	height: 48px;
	clear: both;
	margin: -24px auto 0 -24px;
	top: 50%;
	left: 50%;
	position: absolute;
	background: #fff;
}

/* Spinner Circle Rotation */
.sp-circle {
	border: 4px rgba(0, 152, 255,0.25) solid;
	border-top: 4px rgba(0, 152, 255,1) solid;
	border-radius: 50%;
	-webkit-animation: spCircRot .6s infinite linear;
	animation: spCircRot .6s infinite linear;
}

@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}
