<?xml version="1.0"?>

	<!-- 
	/**
	* BINVID / DROPZONE CONFIGURATION FILE
	* @description: This file is used to configure the dropzone parameters
	* @notes:
	* - This file must always be present and readable
	* - XML-Node structure must not be changed, to avoid failures of functions (e.g. chunks.js and chunks.php)
	* - Node-Values can be changed to the needs
	* - Node default-values must not be changed, to ensure fallback
	*
	* @author Volker Lux
	* @email volker.lux@dw.com
	*/
	-->

<config>

	<!-- Enable/Disable debug log and console output for javascript and php files -->
	<debugMode description="Enable console logging." note="Should be 0 for PRODUCTION use!">
		<default>0</default>
		<value>0</value>
	</debugMode>

	<!-- Link to help / documentation (shows up in form legend) -->
	<helpLink>https://confluence.dw.com/x/qBXiBw</helpLink>

	<!--
	___ FOLDERS ___
		IMPORTANT NOTE: Folder path should be absolute, not relative
	-->
	<!-- Folder for final uploads -->
	<uploadFolder>f:/functions/uploads</uploadFolder>
	
	<!-- Folder for temporary chunks -->
	<uploadFolderTmp>f:/functions/uploads/tmp</uploadFolderTmp>
	
	<!-- Folder for custom logfile -->
	<debugLogFolder>f:/functions/logs</debugLogFolder>
	
	<!--
	___ FILE DESTINATIONS/FOLDERS (VPMS, MediaLoopster ...) ___
		Description: Contains folders, where the files can be placed
		NOTE: Sort order of <option>-elements represents display order in webform
		@node-attribute title - contains visible value in webform select box
		@node-value - represents actual destination folder name in filesystem
	-->
	<destinationFolder>
		<option title="VPMS (Berlin)">VPMS</option>
		<option title="MediaLoopster">MediaLoopster</option>
		<option title="AVID (Berlin)">AVID</option>
	</destinationFolder>

	<!--
	___ DROPZONE CONFIGURATION / PARAMETER ___
		@description: Contains configuration values for dropzone.js script
		@link https://www.dropzonejs.com/#configuration-options
	-->
	<dropzone>

		<!-- preventDuplicates: If enabled, users can not upload files with same name, to avoid duplicates -->
		<preventDuplicates description="If enabled, users can not upload files with same name, to avoid duplicates">
			<default>1</default>
			<value>1</value>
		</preventDuplicates>
		
		<!-- enableThumbnailGenerator: Enable/Disable generation of file-thumbnials using frame-grab -->
		<enableThumbnailGenerator description="Enable/Disable generation of file-thumbnials using frame-grab">
			<default>1</default>
			<value>1</value>
		</enableThumbnailGenerator>

		<!-- addRemoveLinks: Show Cancel Upload button for each file -->
		<addRemoveLinks description="Show Cancel Upload button for each file" default="true">
			<default>true</default>
			<value>true</value>
		</addRemoveLinks>

		<!-- autoProcessQueue: Automatically start file uploads, when they are dropped -->
		<autoProcessQueue description="Automatically start file uploads, when they are dropped" default="false">
			<default>false</default>
			<value>false</value>
		</autoProcessQueue>

		<!-- 
		/** 
		* acceptedFilesVideo: Allowed video file types 
		* pattern="Comma-separated suffixes with leading '.' - like '.mpg,.mp4'"
		*/
		-->
		<acceptedFilesVideo description="Allowed video file types" >
			<default>.mpg,.m2t,.m2p,.mpeg,.mts,.m2v,.mov,.mp4,.wmv,.vob,.mxf</default>
			<value>.mpg,.m2t,.m2p,.mpeg,.mts,.m2v,.mov,.mp4,.wmv,.vob,.mxf</value>
		</acceptedFilesVideo>

		<!-- 
		/** 
		* acceptedFilesAudio: Allowed audio file types 
		* pattern="Comma-separated suffixes with leading '.' - like '.mpg,.mp4'"
		*/		
		-->
		<acceptedFilesAudio description="Allowed audio file types" pattern="Comma-separated suffixes with leading '.' - like '.mpg,.mp4'">
			<default>.wav,.aif,.mp3,.mp2,.m4a</default>
			<value>.wav,.aif,.mp3,.mp2,.m4a</value>
		</acceptedFilesAudio>	
		
		<!-- 
		/** 
		* acceptedFilesImage: Allowed audio file types
		* @type string - Comma-separated suffixes with leading '.' - like '.jpg,.dng'
		*/		
		-->		
		<acceptedFilesImage description="Allowed image file types">
			<default>.jpg,.dng</default>
			<value>.jpg,.dng</value>
		</acceptedFilesImage>	

		<!-- chunkSize: Filesize of upload parts in MB --> 
		<chunkSize description="Chunk size in MegaBytes." pattern="x * 1024 *1024">
			<default>28</default>
			<value>28</value>
		</chunkSize>

		<!-- chunking: Enable/Disabled splitting of file-uploads into smaller parts -->
		<chunking description="Enable chunking">
			<default>true</default>
			<value>true</value>
		</chunking>

		<!-- forceChunking: Always use chunks, independent from file size -->
		<forceChunking description="Always use chunks" note="MUST be true if chunking is enabled!!!">
			<default>true</default>
			<value>true</value>
		</forceChunking>

		<!-- parallelChunkUploads: Enable/Disable parallel chunk uploads -->
		<parallelChunkUploads description="Enable parallel chunk uploads">
			<default>false</default>
			<value>false</value>
		</parallelChunkUploads>

		<!-- maxFiles: Can be used to limit the maximum number of files that will be handled by this Dropzone. -->
		<maxFiles description="Max number of files that can be handled. Can be numeric or infinite." pattern="numeric or 'null'">
			<default>null</default>
			<value>20</value>
		</maxFiles>

		<!-- maxFilesize -->
		<maxFilesize description="Max upload file size in MB" pattern="x * 1024">
			<default>25</default>
			<value>25</value>
		</maxFilesize>

		<!-- parallelUploads: Maximum parallel file uploads -->
		<parallelUploads description="max amount of parallel file uploads" note="increase carefully, to avoid performance and runtime issues!">
			<default>2</default>
			<value>20</value>
		</parallelUploads>

		<!-- retryChunks: Whether a chunk should be retried if it fails. -->
		<retryChunks description="Whether a chunk should be retried if it fails.">
			<default>true</default>
			<value>true</value>
		</retryChunks>

		<!-- retryChunksLimit: If retryChunks is true, how many times should it be retried. -->
		<retryChunksLimit description="If retryChunks is true, how many times should it be retried.">
			<default>3</default>
			<value>3</value>
		</retryChunksLimit>

		<!-- uploadMultiple: Whether to send multiple files in one request. -->
		<uploadMultiple description="Whether to send multiple files in one request." note="MUST be FALSE when chunking is true!!!">
			<default>false</default>
			<value>false</value>
		</uploadMultiple>

		<!-- minTitleLength: Minimum required characters for file title -->
		<minTitleLength description="Minimum required characters for file title">
			<default>4</default>
			<value>4</value>
		</minTitleLength>

		<!-- maxTitleLength: Maximum required characters for file title -->
		<maxTitleLength description="Maximum required characters for file title">
			<default>52</default>
			<value>52</value>
		</maxTitleLength>
	</dropzone>

</config>
